In [ ]:
#1. Create a data frame

In [1]:
import pandas

In [2]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [4]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [5]:
people=pandas.DataFrame.from_dict(data)
people

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [8]:
#2. Create a list of tuples, where each tuple is a pair (name,country), using comprehensions.

In [10]:
list(zip(people.names,people.country))

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [15]:
#2. Answer.
listOfTuples=[(n,c) for (n,c) in zip(people.names,people.country)]
listOfTuples

[('Tomás', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [11]:
#3. Implement a _for_ loop to count how many peruvian there are in the data frame.

In [19]:
people.country
positionvalue=[]
counterOfPeruvian=0
for country in people.country:
    if country =='Peru':
        counterOfPeruvian +=1
counterOfPeruvian

2

In [17]:
#3. Answer
counterOfPeruvian=0 #counter
for country in people.country:
     if country=='Peru':
        counterOfPeruvian +=1 #updating counter
#to see results:
counterOfPeruvian

2

In [20]:
#Different way for queries.
people.where(people.country=='Peru').dropna().shape[0]

2

In [21]:
#4. Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.
counterOfMen=0 #counter
for woman in people.woman:
    if woman==False:
        counterOfMen +=1 #updating counter
#to see the results:
counterOfMen

4

In [23]:
#Now use Not and ~. #This is as far as I got in the class exercise before we went over it as a class.
counterOfMen=0
for woman in people.woman:
    if not woman:
        counterOfMen +=1
#to see the results:
counterOfMen

4

In [27]:
counterOfMen=0 #counter
for man in ~people.woman:
    if man:
        print(man)
        counterOfMen +=1 #updating counter
#to see the results:
counterOfMen

True
True
True
True

4