In [1]:
import pandas

In [2]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [11]:
data={'Names':names, 'Woman':woman, 'Ages':ages, 'Country': country, 'Education': education}
data

{'Names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'Woman': [False, True, False, False, False, True],
 'Ages': [32, 33, 28, 30, 32, 27],
 'Country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'Education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [12]:
friends=pandas.DataFrame.from_dict(data)
friends

     Names  Woman  Ages  Country Education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [15]:
#Who is the oldest person in the group of friends?
friends[friends.Ages==max(friends.Ages)].Names

1    Pauline
Name: Names, dtype: object

In [26]:
#How many people are 32?
len(friends[(friends.Ages==32)].Names)

2

In [27]:
#How many people are not Peruvian? (use two codes for this)
len(friends[friends.Country!="Peru"])

4

In [33]:
#Who is the person with the highest level of education?
friends[friends.Education==max(friends.Education)].Names

3    Bjork
Name: Names, dtype: object

In [37]:
#What is the sex of the oldest person in the group?
friends[friends.Ages==max(friends.Ages)].Woman

1    True
Name: Woman, dtype: bool