In [2]:
#1. Implement a for loop to get the count of men that have a Bach degree in the data frame. 
     #I recommend the use of zip (somwehere)

In [3]:
import pandas

In [4]:
names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [5]:
data={'names':names, 'woman':woman, 'ages':ages, 'country':country, 'education':education}
data

{'names': ['Tomás', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [6]:
people=pandas.DataFrame.from_dict(data)
people

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [7]:
list(zip(people.woman,people.education))

[(False, 'Bach'),
 (True, 'Bach'),
 (False, 'Master'),
 (False, 'PhD'),
 (False, 'Bach'),
 (True, 'Master')]

In [12]:
listOfTuples=[(w,e) for (w,e) in zip(people.woman,people.education)]
listOfTuples

[(False, 'Bach'),
 (True, 'Bach'),
 (False, 'Master'),
 (False, 'PhD'),
 (False, 'Bach'),
 (True, 'Master')]

In [98]:
#I keep getting stuck on how to not get just Bach or Male. I cannot get a count of Male within Bachelors or vice-versa.
people.education
positionvalue=[]
counterOfBach=0
for Bach in people.education:
    if Bach =='Bach':
        counterOfBach +=1
    continue
    people.woman
    positionvalue=[]
    counterofMale=0
    for Male in people.woman:
        if Male ==False:
            counterOfMale +=1
counterOfBach

3

In [99]:
#This gets me the count of Men.
people.woman
positionvalue=[]
counterofMale=0
for Male in people.woman:
    if Male ==False:
        counterOfMale=+1
counterofMale

0

In [102]:
people.where(people.education='Bach', people.woman==False).dropna().shape[0]

SyntaxError: keyword can't be an expression (<ipython-input-102-652721192748>, line 1)

In [104]:
#I started this as an attempt for another way to get the answer, but realized I am going in circles.
woman=[False,True,False,False,False,True]
education=['Bach','Bach','Master','PhD','Bach','Master']
list(zip(woman,education))

[(False, 'Bach'),
 (True, 'Bach'),
 (False, 'Master'),
 (False, 'PhD'),
 (False, 'Bach'),
 (True, 'Master')]

In [32]:
#2. Implement a for loop to get the count of people whose current age is an even number.

In [40]:
list(zip(people.names,people.ages))

[('Tomás', 32),
 ('Pauline', 33),
 ('Pablo', 28),
 ('Bjork', 30),
 ('Alan', 32),
 ('Juana', 27)]

In [41]:
listOfTuples=[(n,a) for (n,a) in zip(people.names,people.ages)]
listOfTuples

[('Tomás', 32),
 ('Pauline', 33),
 ('Pablo', 28),
 ('Bjork', 30),
 ('Alan', 32),
 ('Juana', 27)]

In [47]:
people.ages
positionvalue=[]
counterOfEven=0
for Even in people.ages:
    if Even %2==0:
        counterOfEven +=1
counterOfEven

4